.todo-app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding: 32px;

  .filter-todo {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 28px;
    color: #ffffff;
  }
}
