@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
