.wrapper {
  min-height: 100%;
  padding: 50px;
  display: flex;
}

.weather {
  background-color: #6b9295;
  border-radius: 10px;
  padding: 20px;
  max-width: 450px;
  max-height: 208px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex-basis: 40%;
}

.weather__loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather__loading img {
  max-width: 50px;
}

.weather__header {
  display: flex;
}
.weather__main {
  flex: 1 1 auto;
}
.weather__city {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}
.weather__status {
  font-size: 20px;
  margin-bottom: 20px;
}
.weather__body {
}
.weather__icon {
}

.weather__temp {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.weather__feels-like {
}
.weather__temp::after,
.weather__feels-like::after {
  display: inline-block;
  margin-left: 5px;
  content: '°C';
}

.float-right {
  float: right;
}
.fa {
  font-size: 0.8em;
  line-height: 22px !important;
}
dropdown {
  display: inline-block;
  margin: 20px 50px;
}
dropdown label,
dropdown ul li {
  display: block;
  width: 200px;
  background: #ecf0f1;
  padding: 15px 20px;
}
dropdown label:hover,
dropdown ul li:hover,
dropdown ul li.selected {
  background: #6b9295;
  color: white;
  cursor: pointer;
}
dropdown label {
  color: #1abc9c;
  border-left: 4px solid #1abc9c;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
}
dropdown input {
  display: none;
}
dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label {
  background: #6b9295;
  color: white;
}

dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.animate {
  color: rgb(35, 32, 32);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Chrome and Safari */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
}
