@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  color: #fffc;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slaider {
  position: relative;
  width: 700px;
  margin: 20px auto;
  overflow: hidden;
}
.slaider__image {
  width: 100%;
  height: 100%;
}
.slaider__line {
  transition: transform 0.2s;
  display: flex;
}
.content {
  min-width: 350px;
  height: 350px;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controler {
  transform: translateY(-50%);
  border: 0 solid;
  min-width: 50px;
  height: 40px;
  position: absolute;
}
.slaider__next {
  background: no-repeat
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  right: 0;
  top: 50%;
}
.slaider__prev {
  background: no-repeat
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  left: 0;
  top: 50%;
}
.content:nth-child(1) {
  background-color: #f44336;
}
.content:nth-child(2) {
  background-color: #9c27b0;
}
.content:nth-child(3) {
  background-color: #3f51b5;
}
.content:nth-child(4) {
  background-color: #03a9f4;
}
.content:nth-child(5) {
  background-color: #4caf50;
}
.content:nth-child(6) {
  background-color: #ffd73a;
}
.content:nth-child(7) {
  background-color: green;
}
