* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    125deg,
    rgb(225, 236, 246) 0%,
    rgb(125, 219, 232) 100%
  );
}

h1 {
  margin: 0 0 32px;
  color: #fff;
  font-size: 24px;
}

.todo-list {
  margin-top: 32px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
